<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="com.oxygenxml.xspec.XSpecSupportPlugin"
 name="XSpec Helper View"
 description="This plugin contributes an "XSpec Test Results" view that provides the ability to run XSpec test scenarios and view the results directly in Oxygen." 
 version="${project.version}"
 vendor="Alex Jitianu"
 class="com.oxygenxml.xspec.XSpecSupportPlugin"
 classLoaderType="preferReferencedResources">
 <runtime>
  <library name="lib/${project.build.finalName}.jar" scope="global"/>
  <library name="lib/" scope="global"/>
  <library name="target/classes" />
 </runtime>
 
 <extension type="WorkspaceAccess" class="com.oxygenxml.xspec.XSpecSupportPluginExtension"/>
 <extension type="URLHandler" 
  class="com.oxygenxml.xspec.protocol.DiffURLHandlerExtension"/>
 
 <view id="com.oxygenxml.xspec.results" initialSide="WEST" initialRow="1"/>
 
 <toolbar id="com.oxygenxml.xspec" initialSide="NORTH" initialRow="1"/>
 
</plugin>
